<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebaynju.ebay_backend.mapper.UserMapper">
    <insert id="addUser" parameterType="User">
        insert into user (nickName, password, email, salt) values (#{nickName}, #{password}, #{email}, #{salt})
    </insert>

    <delete id="deleteUser" parameterType="User">
        delete from user where userId = #{id}
    </delete>

    <select id="queryUserById" resultType="User">
        select * from user where userId = #{id}
    </select>

    <select id="queryUserByNickName" resultType="User">
        select * from user where nickName = #{nickName}
    </select>

    <select id="queryUserByEmail" resultType="User">
        select * from user where email = #{email}
    </select>

    <update id="changePwd" parameterType="User">
        update user set password = #{password}, salt = #{salt} where nickName = #{nickName}
    </update>

    <update id="updateUser" parameterType="User">
        update user set nickName = #{nickName}, password = #{password} where userId = #{userId}
    </update>
</mapper>